<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/base_layout}">
<head>
    <title>예산 보기</title>
    <link th:href="@{/css/budget.css}" rel="stylesheet">
</head>
<body>
    <th:block layout:fragment="contents">
        <div class="p-3">
            <!-- only display -->
            <div class="mb-3">
                <input type="text" class="form-control border-0 border-bottom" id="displayDate" th:value="${displayDate}" readonly>
            </div>
        </div>
        <th:block th:each="history : ${budgetHistories}">
            <div class="d-flex align-items-center justify-content-between px-3 py-3">
                <div class="d-flex align-items-center">
                    <img class="budget-category-icon" th:src="|/images/category/${history.category.categoryIcon}|" alt="all budget icon">
                    <span class="ms-3" th:text="${history.category.name}">카테고리 이름</span>
                </div>
                <span th:if="${history.budgetMoney > 0}"
                      th:text="|(예산 ${#numbers.formatInteger(history.totalMoney, 0, 'COMMA')} / ${#numbers.formatInteger(history.budgetMoney, 0, 'COMMA')})|">합산 / 예산</span>
                <span th:if="${history.budgetMoney == 0}"
                      th:text="|${#numbers.formatInteger(history.totalMoney, 0, 'COMMA')}원|">합산</span>
            </div>
        </th:block>
    </th:block>
    <th:block layout:fragment="scripts">
        <script th:src="@{/libs/rolldate.min.js}"></script>
        <script th:src="@{/js/budget_history.js}"></script>
    </th:block>
</body>
</html>