<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/base_layout}">
<head>
    <title>예산 추가</title>
    <link th:href="@{/css/budget.css}" rel="stylesheet">
</head>
<body>
    <th:block layout:fragment="contents">
        <div class="d-flex align-items-center justify-content-center pt-3 px-3">
            <span class="fs-1 fw-bold">예산 관리</span>
            <a class="add-icon-container" th:href="@{/account_bank/settings/budget/register}">
                <img class="add-icon" th:src="@{/images/settings/add_icon.png}" alt="add icon">
            </a>
        </div>
        <hr/>
        <div class="d-flex align-items-center justify-content-between px-3">
            <div class="d-flex align-items-center">
                <img class="budget-category-icon" th:src="@{/images/settings/all_budget_icon.png}" alt="all budget icon">
                <span class="ms-3">전체</span>
            </div>
            <span th:text="|${#numbers.formatInteger(total, 0, 'COMMA')}원|">총 예산</span>
        </div>
        <hr/>
        <th:block th:each="budget : ${budgets}">
            <a th:href="@{/account_bank/settings/budget/detail(id=${budget.id})}">
                <div class="d-flex align-items-center justify-content-between px-3">
                    <div class="d-flex align-items-center">
                        <img class="budget-category-icon" th:src="|/images/category/${budget.category.categoryIcon}|" alt="category icon">
                        <span class="ms-3" th:text="${budget.category.name}">카테고리명</span>
                    </div>
                    <span th:text="|${#numbers.formatInteger(budget.money, 0, 'COMMA')}원|">예산</span>
                </div>
            </a>
            <hr/>
        </th:block>
    </th:block>
</body>
</html>